@charset "utf-8";
/* CSS Document */

body {
	background-color: silver;
	}

p {
    text-align: center;
    font-size: 1.3em;
}

h1 {
    text-align: center; }

h1, h2 {
    color: navy;
	font-weight: bold;
	text-align: center;

}

h3 a:hover {
		color:darkviolet;
		font-weight:bold;
		text-decoration:underline;
		}

.flex-container {
  display: flex;
  align-items: center;
  margin-right: 0.5em; }

.flex-container > section {
  margin: 1.2em; }

.pagination.button {
    border-radius: 12px;
    background-color: #4CAF50;
    border: none;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

