@charset "utf-8";
/* CSS Document */

body {
	line-height: 120%;
	background-color: silver;
}

h1 {
	text-align: center;
	font-size: 2.5vw;
}

h3 {
	font-size: 1.5vw;
}

li {
	font-size: 1.1vw;
	margin-top: 2px;
}

.buttons {
	text-align: center;
	margin: auto;
	margin-top: 5vw;
	max-width: 35%;
}

.float {
	float: left;
	margin-top: 3vw;
	margin-left: 15vw;
	margin-right: 5vw;
}

@media only screen and (max-width: 600px) {
	
	.float {
		float: none;
	}
	
	.buttons {
		max-width: 100%;
	}
	
	h1 {
		font-size: 6vw;
	}
	
	h3 {
		font-size: 4.2vw;
	}
	
	li {
		font-size: 3vw;
	}
	
	
	
}

